# Среда разработки
venv/
env/
.env

# Кэш Python
__pycache__/
*.pyc

# База данных (пусть напарник создаст свою чистую)
db.sqlite3

# Настройки IDE (на всякий случай дублируем здесь)
.idea/
.vscode/

# Статические файлы
media/
staticfiles/